Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

.pipelines/azdo-ci-build-train.yml:
  stages:
  - stage: Model_CI
    displayName: Model CI
    jobs:
    - job: Model_CI_Pipeline
      displayName: Model CI Pipeline
      pool:
        vmImage: ubuntu-latest
      container: mcr.microsoft.com/mlops/python:latest
      timeoutInMinutes: 0
      steps:
      - template: azdo-base-pipeline.yml
  ...

.pipelines/azdo-ci-image.yml:
  pool:
    vmImage: ubuntu-latest
  container: mcr.microsoft.com/mlops/python:latest
  name: $(Date:yyyyMMdd)$(Rev:r)
  steps:
  - bash: "# Invoke the Python building and publishing a training pipeline with Python on ML Compute\npython3 $(Build.SourcesDirectory)/ml_service/util/create_scoring_image.py   \n"
  ...

Switch CI to use new AzureML agentless execution task (#101)
  .env.example
  .pipelines/azdo-ci-build-train.yml
  .pipelines/azdo-variables.yml
  README.md
  code/evaluate/evaluate_model.py
  code/register/register_model.py
  code/training/train.py
  code/util/model_helper.py
  docs/getting_started.md
  docs/images/svc-connection.png
  environment_setup/iac-remove-environment.yml
  ml_service/pipelines/build_train_pipeline.py
  ml_service/pipelines/run_train_pipeline.py
  ml_service/util/env_variables.py
  ml_service/util/register_model.py
Due: .pipelines/azdo-ci-build-train.yml

use generic model tag finder
  code/evaluate/evaluate_model.py
  code/register/register_model.py
  code/util/model_helper.py
  ml_service/pipelines/run_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

fix register --validate
  code/register/register_model.py
  code/util/model_helper.py
Due: .pipelines/azdo-ci-build-train.yml

fix model index
  code/evaluate/evaluate_model.py
Due: .pipelines/azdo-ci-build-train.yml

address feedback
  code/evaluate/evaluate_model.py
  code/util/model_helper.py
Due: .pipelines/azdo-ci-build-train.yml

Simplify model_helper
  code/util/model_helper.py
Due: .pipelines/azdo-ci-build-train.yml

bump versions
  environment_setup/requirements.txt
Due: none

ubunutu latest pool, add build.number tag
  environment_setup/docker-image-pipeline.yml
Due: none

Generalize model tag finder, tag model experiment_name (#103)
  code/evaluate/evaluate_model.py
  code/register/register_model.py
  code/util/model_helper.py
  ml_service/pipelines/run_train_pipeline.py
  ml_service/util/env_variables.py
Due: .pipelines/azdo-ci-build-train.yml

Fix validate logic for no model found
  code/register/register_model.py
Due: .pipelines/azdo-ci-build-train.yml

Fix lint
  code/register/register_model.py
Due: .pipelines/azdo-ci-build-train.yml

Fix validate logic for no model found (#111)
  code/register/register_model.py
Due: .pipelines/azdo-ci-build-train.yml

clean up service connection steps
  docs/getting_started.md
  docs/images/svc-connection.png
Due: none

move install task to top
  docs/getting_started.md
Due: none

Add code comments
  .pipelines/azdo-ci-build-train.yml
  code/evaluate/evaluate_model.py
  code/register/register_model.py
  ml_service/pipelines/run_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

Set up CI with Azure Pipelines
  .pipelines/ci-build.yml
Due: .pipelines/azdo-ci-build-train.yml

Add code comments (#114)
  .pipelines/azdo-ci-build-train.yml
  code/evaluate/evaluate_model.py
  code/register/register_model.py
  ml_service/pipelines/run_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

Update requirements.txt
  environment_setup/requirements.txt
Due: none

bump pip requirements versions (#104)
  environment_setup/docker-image-pipeline.yml
  environment_setup/requirements.txt
Due: none

Simplified build with Azure CLI; various bugfixes
  .pipelines/azdo-base-pipeline.yml
  .pipelines/azdo-ci-build-train.yml
  code/evaluate/evaluate_model.py
  code/register/register_model.py
  code/scoring/score.py
  code/training/train.py
  docs/getting_started.md
  docs/images/release-task-createimage.PNG
  docs/images/release-webapp-pipeline.PNG
  ml_service/pipelines/build_train_pipeline.py
  ml_service/pipelines/build_train_pipeline_with_r.py
  ml_service/pipelines/build_train_pipeline_with_r_on_dbricks.py
  ml_service/pipelines/run_train_pipeline.py
  ml_service/pipelines/verify_train_pipeline.py
  ml_service/util/attach_compute.py
  ml_service/util/create_scoring_image.py
  ml_service/util/create_scoring_image.sh
  ml_service/util/workspace.py
  tests/requirements.txt
  tests/unit/code_test.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

Removed unused argument
  .pipelines/azdo-ci-build-train.yml
  ml_service/pipelines/verify_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

Removed unused argument
  ml_service/pipelines/verify_train_pipeline.py
  ml_service/util/create_scoring_image.sh
Due: .pipelines/azdo-ci-build-train.yml

Update code_description.md
  docs/code_description.md
Due: none

Multi-stage pipeline + scoring observability
  .pipelines/azdo-base-pipeline.yml
  .pipelines/azdo-ci-build-train.yml
  .pipelines/azdo-template-get-model-version.yml
  code/scoring/score.py
  docs/getting_started.md
  docs/images/automate_deploy_model_pipeline.png
  docs/images/ci-build-logs.png
  docs/images/create-rm-service-connection.png
  docs/images/deploy-model.png
  docs/images/multi-stage-aci-aks.png
  docs/images/multi-stage-aci.png
  docs/images/multi-stage-webapp.png
  ml_service/pipelines/verify_train_pipeline.py
  ml_service/util/create_scoring_image.py
  ml_service/util/create_scoring_image.sh
  ml_service/util/smoke_test_scoring_service.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

Updates from PR review #121
  .pipelines/azdo-base-pipeline.yml
  .pipelines/azdo-ci-build-train.yml
  environment_setup/requirements.txt
  ml_service/pipelines/run_train_pipeline.py
  ml_service/pipelines/verify_train_pipeline.py
  tests/requirements.txt
Due: .pipelines/azdo-ci-build-train.yml

Simplified build with Azure CLI; various bugfixes (#121)
  .pipelines/azdo-ci-build-train.yml
  code/evaluate/evaluate_model.py
  code/register/register_model.py
  code/scoring/score.py
  code/training/train.py
  docs/code_description.md
  docs/getting_started.md
  docs/images/release-task-createimage.PNG
  docs/images/release-webapp-pipeline.PNG
  environment_setup/requirements.txt
  ml_service/pipelines/build_train_pipeline.py
  ml_service/pipelines/build_train_pipeline_with_r.py
  ml_service/pipelines/build_train_pipeline_with_r_on_dbricks.py
  ml_service/pipelines/run_train_pipeline.py
  ml_service/pipelines/verify_train_pipeline.py
  ml_service/util/attach_compute.py
  ml_service/util/create_scoring_image.py
  ml_service/util/create_scoring_image.sh
  ml_service/util/workspace.py
  tests/unit/code_test.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

Delete requirements.txt
  tests/requirements.txt
Due: .pipelines/azdo-ci-build-train.yml

removed installing requirements
  .pipelines/azdo-base-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

Verify model registration use template
  .pipelines/azdo-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

fix lint
  ml_service/pipelines/verify_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

fix lint
  code/scoring/score.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

Fix error already fixed previous PR
  .pipelines/azdo-template-get-model-version.yml
Due: .pipelines/azdo-ci-build-train.yml

Fix from merge conflict
  ml_service/pipelines/verify_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

Fixed previous merge
  .pipelines/azdo-template-get-model-version.yml
  ml_service/pipelines/verify_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

Multi-stage pipeline + scoring observability (#122)
  .pipelines/azdo-ci-build-train.yml
  .pipelines/azdo-template-get-model-version.yml
  code/scoring/score.py
  docs/getting_started.md
  docs/images/automate_deploy_model_pipeline.png
  docs/images/ci-build-logs.png
  docs/images/create-rm-service-connection.png
  docs/images/deploy-model.png
  docs/images/multi-stage-aci-aks.png
  docs/images/multi-stage-aci.png
  docs/images/multi-stage-webapp.png
  ml_service/pipelines/verify_train_pipeline.py
  ml_service/util/create_scoring_image.py
  ml_service/util/smoke_test_scoring_service.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

workspace name
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

Path conditions:
  .pipelines/azdo-ci-build-train.yml: any file but: docs, environment_setup, charts, ml_service/util/create_scoring_image.py
  .pipelines/azdo-ci-image.yml: any of: ml_service/util/create_scoring_image.py, ml_service/util/Dockerfile, code/scoring, but not: code/scoring/deployment_config_aci.yml, code/scoring/deployment_config_aks.yml
