Repository microsoft/MLOpsPython: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

.pipelines/azdo-ci-build-train.yml:

pr: none
trigger:
  branches:
    include:
    - master
  paths:
    exclude:
    - code/scoring/
    - docs/
    - environment_setup/
    - charts/
    - ml_service/util/create_scoring_image.py

variables:
- group: devopsforai-aml-vg
# Choose from default, build_train_pipeline_with_r.py, or build_train_pipeline_with_r_on_dbricks.py
- name: build-train-script
  value: 'build_train_pipeline.py'

stages:
- stage: 'Model_CI'
  displayName: 'Model CI'
  jobs:
  - job: "Model_CI_Pipeline"
    displayName: "Model CI Pipeline"
    pool: 
      vmImage: 'ubuntu-latest'
    container: mcr.microsoft.com/mlops/python:latest
    timeoutInMinutes: 0
    steps:
    - template: azdo-base-pipeline.yml
    - script: |
        # Invoke the Python building and publishing a training pipeline
        python3 $(Build.SourcesDirectory)/ml_service/pipelines/$(build-train-script)
      failOnStderr: 'false'
      env:
        SP_APP_SECRET: '$(SP_APP_SECRET)'
      displayName: 'Publish Azure Machine Learning Pipeline'
- stage: 'Trigger_AML_Pipeline'
  displayName: 'Train, evaluate, register model'
  jobs:
  - job: "Invoke_Model_Pipeline"
    displayName: "Invoke Model Pipeline and evaluate results to register"
    pool: 
      vmImage: 'ubuntu-latest'
    container: mcr.microsoft.com/mlops/python:latest
    timeoutInMinutes: 0
    steps:
    - script: |
        python $(Build.SourcesDirectory)/ml_service/pipelines/run_train_pipeline.py
      displayName: 'Trigger Training Pipeline'
      env:
        SP_APP_SECRET: '$(SP_APP_SECRET)'

.pipelines/azdo-ci-image.yml:

pr: none
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - ml_service/util/create_scoring_image.py
    - ml_service/util/Dockerfile
    - code/scoring/
    exclude:
    - code/scoring/deployment_config_aci.yml
    - code/scoring/deployment_config_aks.yml    

pool: 
  vmImage: 'ubuntu-latest'

container: mcr.microsoft.com/mlops/python:latest

variables:
- group: devopsforai-aml-vg
- name: 'SCORE_SCRIPT'
  value: 'score.py'

name: $(Date:yyyyMMdd)$(Rev:r)
steps:

- bash: |
   # Invoke the Python building and publishing a training pipeline with Python on ML Compute
   python3 $(Build.SourcesDirectory)/ml_service/util/create_scoring_image.py   
  failOnStderr: 'false'
  env:
    SP_APP_SECRET: '$(SP_APP_SECRET)'
    MODEL_VERSION: 1
  displayName: 'Create Scoring Image'
  enabled: 'true'

workspace name
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

resource group name
  ml_service/util/create_scoring_image.py
Due: .pipelines/azdo-ci-image.yml

var to boolean
  .pipelines/azdo-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

set to false
  .pipelines/azdo-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

try with true
  .pipelines/azdo-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

cleanup images
  docs/getting_started.md
  docs/images/agent-specification.png
  docs/images/artifact-invoke-pipeline.png
  docs/images/automate_invoke_training_pipeline.png
  docs/images/create-release.png
  docs/images/invoke-training-pipeline.png
  docs/images/retrain-pipeline-vg.png
  docs/images/run_training_pipeline_task.png
Due: none

update dependencies
  code/scoring/conda_dependencies.yml
Due: .pipelines/azdo-ci-image.yml

cleanup spaces
  code/scoring/conda_dependencies.yml
Due: .pipelines/azdo-ci-image.yml

update conda dependencies (#93)
  code/scoring/conda_dependencies.yml
Due: .pipelines/azdo-ci-image.yml

Use Coalesce so override works
  .pipelines/azdo-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

add back build artifacts
  .pipelines/azdo-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

address feedback
  docs/getting_started.md
Due: none

include code/scoring path for ci
  .pipelines/azdo-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

Upgrade build train CI pipeline to multi-stage (#90)
  .pipelines/azdo-ci-build-train.yml
  docs/getting_started.md
  docs/images/agent-specification.png
  docs/images/artifact-invoke-pipeline.png
  docs/images/automate_invoke_training_pipeline.png
  docs/images/create-release.png
  docs/images/invoke-training-pipeline.png
  docs/images/retrain-pipeline-vg.png
  docs/images/run_training_pipeline_task.png
  ml_service/pipelines/build_train_pipeline.py
  ml_service/pipelines/run_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

Update conda_dependencies.yml
  code/scoring/conda_dependencies.yml
Due: .pipelines/azdo-ci-image.yml

canary deployment
  code/scoring/scoreA.py
  code/scoring/scoreB.py
Due: .pipelines/azdo-ci-image.yml

canary deployment
  .pipelines/azdo-ci-image.yml
Due: .pipelines/azdo-ci-build-train.yml

use newer azureml-model-management-sdk
  code/scoring/conda_dependencies.yml
Due: .pipelines/azdo-ci-image.yml

canary deployment
  charts/abtest-istio/Chart.yaml
  charts/abtest-istio/templates/istio-canary.yaml
  charts/abtest-istio/values.yaml
  charts/abtest-model/Chart.yaml
  charts/abtest-model/templates/deployment.yaml
  charts/abtest-model/templates/service.yaml
  charts/abtest-model/values.yaml
  docs/canary_ab_deployment.md
Due: none

Canary deployment
  .pipelines/azdo-release-abtest-pipeline.yml
Due: .pipelines/azdo-ci-build-train.yml

Canary deployment
  code/scoring/conda_dependencies.yml
Due: .pipelines/azdo-ci-image.yml

Canary deployment
  charts/abtest-model/templates/deployment.yaml
  code/scoring/deployment_config_aks.yml
  code/scoring/scoreA.py
  code/scoring/scoreB.py
Due: .pipelines/azdo-ci-image.yml

Canary deployment
  .pipelines/azdo-ci-image.yml
Due: .pipelines/azdo-ci-build-train.yml

Update conda_dependencies (#95)
  code/scoring/conda_dependencies.yml
Due: .pipelines/azdo-ci-image.yml

Update score.py
  code/scoring/score.py
Due: .pipelines/azdo-ci-image.yml

Update train.py
  code/training/train.py
Due: .pipelines/azdo-ci-build-train.yml

Update register_model.py
  code/register/register_model.py
Due: .pipelines/azdo-ci-build-train.yml

build_train to use build vs release
  ml_service/pipelines/build_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

retrieve pipeline id, agentless task to run
  .pipelines/azdo-ci-build-train.yml
  ml_service/pipelines/run_train_pipeline.py
Due: .pipelines/azdo-ci-build-train.yml

refactor register model
  code/register/register_model.py
  ml_service/util/register_model.py
Due: .pipelines/azdo-ci-build-train.yml

add model helper util
  ml_service/util/model_helper.py
Due: .pipelines/azdo-ci-build-train.yml

refactor evaluate script
  code/evaluate/evaluate_model.py
Due: .pipelines/azdo-ci-build-train.yml

CI cleanup local dev
  .pipelines/azdo-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

Fix linting
  code/evaluate/evaluate_model.py
  code/register/register_model.py
  ml_service/pipelines/build_train_pipeline.py
  ml_service/pipelines/run_train_pipeline.py
  ml_service/util/model_helper.py
Due: .pipelines/azdo-ci-build-train.yml

temp disable unit test
  tests/unit/code_test.py_
Due: .pipelines/azdo-ci-build-train.yml

replace base_name var
  ml_service/pipelines/build_train_pipeline.py
  ml_service/pipelines/build_train_pipeline_with_r_on_dbricks.py
  ml_service/pipelines/run_train_pipeline.py
  ml_service/util/create_scoring_image.py
  tests/unit/code_test.py
Due: .pipelines/azdo-ci-build-train.yml, .pipelines/azdo-ci-image.yml

add registration validation logic
  .pipelines/azdo-ci-build-train.yml
  code/evaluate/evaluate_model.py
  code/register/register_model.py
  ml_service/pipelines/build_train_pipeline_with_r.py
Due: .pipelines/azdo-ci-build-train.yml

Workspace svc connection to var
  .pipelines/azdo-ci-build-train.yml
Due: .pipelines/azdo-ci-build-train.yml

Add new env vars to example
  .env.example
Due: .pipelines/azdo-ci-build-train.yml
